<header class="header">
    <div class="header-content">
        <div class="page-title">
            <h1>Dashboard</h1>
        </div>

        <div class="header-actions">
            <!-- <div class="user-info">
                <div class="avatar">{{ (userEmail() || 'U')[0]?.toUpperCase() || 'U' }}</div>
                <span class="email">{{ userEmail() }}</span>
            </div> -->
            <nav class="header-nav">
                <a class="nav-link" (click)="onProfile()">My Profile</a>
                <a class="nav-link signout" (click)="onSignout()">Sign Out</a>
            </nav>
        </div>
    </div>
</header>