<mat-card class="auth-card">
  <mat-card-title>Login</mat-card-title>

  <form [formGroup]="form" (ngSubmit)="submit()">

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        <mat-option value="Customer">Customer</mat-option>
        <mat-option value="Employee">Employee</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      <mat-error *ngIf="form.get('email')?.invalid">
        Enter a valid email
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
      <mat-error *ngIf="form.get('password')?.invalid">
        Password does not meet requirements
      </mat-error>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      class="full-width"
      type="submit"
      [disabled]="form.invalid">
      Login
    </button>

  </form>
</mat-card>
